ion-content.appBackground {
    // --background: url('/assets/img/blueGradient.PNG') no-repeat 58% 72%;
    --background: url('/assets/img/blueGradient.PNG')  no-repeat cover fixed center;
    background: url('/assets/img/blueGradient.PNG') no-repeat fixed center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    // background-color: rgba(52, 73, 94, 0.75);
    
}
.imgdiv{
    width: 200px;
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    transform:translateY(-50%);
}
.modalContent{
    text-align: center !important;
    padding-top: 233px;
}
.modalText{
    padding-top: 100px;
    color: #ffffff;
    font-weight: 600;
}

ion-item.tcItem{
    --background: hsla(255, 255, 255, 0.3);
    width: 80%;
    margin-left: 10%;
}
item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
    color: white;
}
.tcButton{
    width: 85%;
    margin-left: 8%;
    border-radius: 14px;
    --background: #4FB7C0;
}
ion-checkbox{
    --background-checked: #4FB7C0;
    --border-color-checked: #00ffff00;
    --border-radius: 6px;
}
.card-content-md h2 {
    margin-left: 29%;
}
.lCard{
    border-radius: 14px;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 21%;
    --background:#f1f9ff;
}
ion-text.tcHead{
    margin-left: auto;
    margin-right: auto;
    color: #4e39c1;
}
ion-card {
    display: flex;
    flex-direction: column;
  }

.container{
    margin-top: 2vh;
    width: auto; 
    display: block;
}

.logoImg{
    text-align: center;
    width: 35%;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.fixed {
    overflow-y:scroll; overflow-x:hidden; height:70%;
}
.tcTxt{
    font-size: 14px;
}

.errorTxts{
    color: #ffffff;
    font-size: 13px;
}
// .custom-icon {
//     font-size: 90% !important;
// }
// .memoryType{
//     font-size: 17px;
//     font-weight: bold;
//     color: #0B5170;
//     padding-top: 16px;
// }

