<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content  class="login" no-scroll padding>
  <div class="container">
    <ion-card class="lCard">
      <ion-card-content>
        <div class="logoImg">
          <ion-img class [src]="appLogo" (click)="goToHomePage();"></ion-img>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <br>
  <br>
  <ion-text class="firstText">
    <h2>Hi There.</h2>
    <h2>Let's make memory.</h2>
  </ion-text>

</ion-content>
