ion-content.appBackground {
    --background: #F2F2F2;
    // background-color: rgba(52, 73, 94, 0.75);
    
}

.syncBackground{
    --background: #F2F2F2;
}

.headerC{
    margin-top: 0px;
    font-size: 20px;
}