<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ paymentPlan }} Payments
    </ion-title>
    <ion-button color="danger" slot="end" (click)="dismissModal()">X</ion-button>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">

<form action="./addPaymentCard.php/" method="post" id="payment-form">
  <div class="main-content">
    <ion-label>1. Select Your Payment Card</ion-label>
    <ion-row style="margin-top: 20px;">
      <ion-col size="4">
          <div class="square_visa" (click)="onVisa()" >

          </div>
      </ion-col>

      <ion-col size="4">
        <div class="square_mastercard" (click)="onMastercard()">

        </div>
    </ion-col>

    <ion-col size="4">
      <div class="square_amExpess" (click)="onAmericanExpress()">

      </div>
  </ion-col>
    </ion-row>

    <ion-label>2. Enter Your Card Details</ion-label>
    <ion-label>Card Number</ion-label>

    <ion-input type="text" disabled="true" name="card_type" placeholder="VISA" [(ngModel)] = "cardType"></ion-input>

    <ion-input type="text" name="card_no" placeholder="XXXX-XXXX-XXXX-1243" [(ngModel)] = "cardNo"></ion-input>

    <ion-row>
      <ion-col size="4" class="left_col">
        <ion-input type="number" name="card_month" placeholder="MM" [(ngModel)] = "mm"></ion-input>
      </ion-col>
      <ion-col size="4" >
        <ion-input type="number" name="card_year" placeholder="YYYY" [(ngModel)] = "yyyy"></ion-input>
      </ion-col>
      <ion-col size="4" class="right_col">
        <ion-input type="number" name="card_cvv" placeholder="CVV" [(ngModel)] = "cvv"></ion-input>
      </ion-col>

      <ion-input type="text"  name="card_type" placeholder="Card Holder Name" [(ngModel)] = "cardType"></ion-input>

    </ion-row>

    <ion-button expand="block" (click)="onPay()">Procced</ion-button>

  </div>
</form>
</ion-content>
