ion-content.appBackground {
    --background: #F2F2F2;
}
.memoryTypeHead{
    padding-top: 20px;
    font-family: fantasy;
    font-size: 24px;
}
.messageReceiveDetailsHead{
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 600;
}
.homeDevider {
    margin-right: 0%;
    margin-left: 0%;
    margin-top: -10%;
    margin-bottom: 8%;
    --background: hsla(255, 255, 255, 0.3);
    border-bottom: 2px solid #383a3e9c;
}

.card-content-md {
    padding-inline-start: 1px !important;
}
.ion-text-justify {
    padding-left: 13px !important;
}

.map{
    height:500px;
  }

