
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="appBackground">
  <div class="txtContent">
    <ion-text color="secondary">
      <h2 class="txtContentH">Main Office</h2>
    </ion-text>
    <p>
      49 Lakefield Avenue, Benoni, South Africa, PO BOX 5101
    </p>
    <p>
      <ion-text class="contLabel">Tel:</ion-text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(011) 455 0859<br>
      <ion-text class="contLabel">Fax:</ion-text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(011) 455 1874<br>
      <ion-text class="contLabel">Email:</ion-text>&nbsp;&nbsp;loved1z@gmail.com
    </p>
    <ion-text color="secondary">
      <h2 class="txtContentH">Support</h2>
    </ion-text>
    <p>
      <ion-text class="contLabel">Tel:</ion-text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(011) 455 0859<br>
      <ion-text class="contLabel">Fax:</ion-text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(011) 455 1874<br>
      <ion-text class="contLabel">Email:</ion-text>&nbsp;&nbsp;loved1z@gmail.com
    </p>

    <div class="container2">
      <ion-card class="lCard2">
        <ion-card-content>
          <div class="logoImg3">
            <ion-img class [src]="appLogo"></ion-img>
          </div> 
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>
