ion-content.login {
    --background: url('/assets/img/login_background.jpg') no-repeat 24% 17%;
}

.loginPage {
    opacity: 0.8;
}

.lCard{
    opacity: 0.8;
}

ion-card-title {
    font-size: 20px;
}