<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-center">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>



  <ion-content class="login" no-scroll padding>
    <!-- <ion-img width="20px" height="20px" [src]="appLogo"></ion-img> -->
    <ion-card *ngIf="forgotStatus" class="lCard">
      <ion-card-header>
          <ion-card-title>
              Password Reset
          </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          A reset link has been sent to your email, please follow the link to change your password, then proceed to login.
          <ion-button class="loginPage" color="danger" expand="block" (click)='gotoLogin()'>Go to Login</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!forgotStatus" class="lCard">
      <ion-card-header>
          <ion-card-title>
              Password recovery
          </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
          <ion-item class="loginPage">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email" formControlName="email"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
            Email is required.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
            Email is expected.
          </span>
          <ion-button type="submit" class="loginPage" color="primary" expand="block">
              <!-- <ion-icon slot="start" name="save-outline"></ion-icon> -->
              Submit
          </ion-button>
          <span class="error ion-padding" *ngIf="isSubmitted && !forgotStatus">
            {{ forgotMessage }}.
          </span>
        </form>
      </ion-card-content>
  
  
    </ion-card>


</ion-content>